@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
}
h4{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

nav{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

a{
    color: black;
}

.h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: xxlarge;
}